@import '../AppStyleVar.scss';

.CardTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: min-content;
}

.title {
  @include CardArticleTitle;
  display: flex;
  max-width: 680px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  max-height: 60px;
}

.likes {
  @include TextStyle12;
}