@import '../AppStyleVar.scss';

.ArticleButtons {
  @include headerTextStyle;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.edit {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  color: $successesful-color;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 5px 19px;
  border: 1px solid $successesful-color;
  border-radius: 5px;
}

.edit:hover {
  background: $successesful-hover-color;
  color: $grey-grey-1;
}

.edit:active {
  background: $successesful-focus-color;
  box-shadow: 0 0 5px 2px $successesful-hover-color;
  color: $grey-grey-1;
}

.tagsDeleteBtn {
  @include FormInputText16;
  color: $highlight-color;
  border-radius: 4px;
  border: 1px solid $highlight-color;
  background-color: $background-color-base;
  height: 44px;
  width: 136px;
}

.tagsDeleteBtn:hover {
  background: $highlight-hover-color;
  color: $grey-grey-1;
}

.tagsDeleteBtn:active {
  background: $highlight-active-color;
  box-shadow: 0 0 5px 2px $highlight-hover-color;
  color: $grey-grey-1;
}

.delete {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  text-decoration: none;
  color: $highlight-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 5px 19px;
  border-radius: 5px;
  background-color: $background-color-base;
  border: 1px solid $highlight-color;
}

.delete:hover {
  background: $highlight-hover-color;
  color: $grey-grey-1;
}

.delete:active {
  background: $highlight-active-color;
  box-shadow: 0 0 5px 2px $highlight-hover-color;
  color: $grey-grey-1;
}

.errorMessage {
  @include FormInfo12;
  color: $formAlarm-color;
}
