@import '../../AppStyleVar.scss';

.SignInPage {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  flex-direction: column;
  padding-top: 26px;
  justify-content: space-between;
  flex-grow: 1;
}

.footer {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: auto;
  padding-top: 26px;
  padding-bottom: 26px;
}