@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.App {
  max-width: 960px;
  min-height: 960px;
  height: auto;
  background-color: #f3f7fa;
  margin: auto;
  padding: auto;
  padding-top: 50px;
  padding-bottom: 25px;
}

.app-logo {
  height: 60px;
  width: 100%;
}

.app-header {
  align-items: center;
  text-align: center;
  padding: auto;
  height: min-content;
  margin-bottom: 50px;
}

.app-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: 960px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.app-filter-section {
  padding-right: 20px;

  @media (max-width: 960px) {
    margin-bottom: 20px;
    padding: 0;
  }
}

.app-result-section {
}

.app-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
}
