@import '../AppStyleVar.scss';

.ArticleCardList {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-direction: column;
  width: 938px;
  height: 140px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: $background-color-base;
  padding: 15px 14px 15px 19px;
}

.ArticleHeader {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 24px;
}

.ArticleCardFull {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-direction: column;
  width: 938px;
  height: auto;
  min-height: 400px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: $background-color-base;
  padding: 15px 14px 15px 19px;
}