$header-bg: white;
$header-hover-color: #52c41a;
$background-color-base: #fff;
$info-color: #1890ff;
$hover-color: #52a7f7;
$focus-color: #055daf;
$text-color-secondary: rgba(0, 0, 0, 0.5);
$header-logout-color: rgba(0, 0, 0, 0.75);
$text-color: rgba(0, 0, 0, 0.75);
$headeng-color: rgba(0, 0, 0, 0.85);
$formAlarm-color: red;
$highlight-color: #F5222D;
$highlight-hover-color: #f57077;
$highlight-active-color: #9b1e24;
$successesful-color: #52C41A;
$successesful-hover-color: #82dd55;
$successesful-focus-color: #308306;

$grey-grey-1: #fff;
$grey-grey-5: #d9d9d9;
$grey-grey-6: #bfbfbf;
$grey-grey-7: #8c8c8c;
$grey-grey-8: #595959;
$grey-grey-9: #262626;

@mixin headerTextStyle {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: $headeng-color;
}

@mixin headerTextLogined {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: $text-color;
}

@mixin CardArticleTitle {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: $info-color;
}

@mixin TextStyle12 {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: $text-color;
}

@mixin FormTitle20 {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

@mixin FormInfo12 {
  /* Regular / 12px | 20 px */
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 166.667% */
}

@mixin FormLabel14 {
  /* Regular / 14px | 22px */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

@mixin FormInputText16 {
  /* Regular / 16 px | 24 px */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}